open3d
termcolor
tqdm
einops
transforms3d
msgpack-numpy
lmdb
h5py
hydra-core
pytorch-lightning
scikit-image
black
usort
flake8
matplotlib
jupyter
imageio
fvcore
plotly
opencv-python
markdown
rich
tensorboard
ninja
git+https://github.com/openai/CLIP.git